@using Microsoft.AspNetCore.Mvc.ModelBinding
@model LoginForm

@*ViewContext est un objet de la vue: pour accéder au ModelState il faut passer par ViewContext*@
@if (!ViewContext.ModelState.IsValid) {

@*
    On utilisera quasi plus jamais cette méthode
<div>
    Il y a @ViewContext.ModelState.ErrorCount erreur@((ViewContext.ModelState.ErrorCount > 1) ? "s" : "") dans votre formulaire.

    <dl>
        //parcours les éléments: on en a 2: email et passwd: récupère les champs avec possiblement des erreurs
        @foreach (KeyValuePair<string, ModelStateEntry> modelStateError in ViewContext.ModelState)
        {
            //vérifier si ce modelstate error/le champ selectionné contient des erreurs
            @if (modelStateError.Value.Errors.Count() > 0)
            {
                // nomme le champ qui contient une erreur (email ou passwd)
                <dt>@modelStateError.Key :</dt>
                <dd>
                    <ul>
                        @foreach (ModelError error in modelStateError.Value.Errors)
                        {
                            <li>
                                @error.ErrorMessage
                            </li>
                        }
                    </ul>
                </dd>
            }
        }
    </dl>
</div>*@

    @Html.ValidationSummary(false, $"Il y a {ViewContext.ModelState.ErrorCount} erreur{((ViewContext.ModelState.ErrorCount > 1) ? "s" : "")} dans votre formulaire.", htmlAttributes: new { @class = "alert bg-danger" })
}

@*<form method="post">*@
@using (Html.BeginForm(method: FormMethod.Post))
{
    <div>
        @*<label>Email: </label>*@
        @*<input type="text" name="Email">*@
        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(expression: model => model.Email,
                                    message: "Erreur detectée",
                                    htmlAttributes: new { @class = "text-danger" })
    </div>
    <div>
        @*<label>Mot de passe: </label>*@
        @*<input type="password" name="Passwd">*@
        @Html.LabelFor(model => model.Passwd)
        @Html.EditorFor(model => model.Passwd, new { @class = "form-control" })
        @Html.ValidationMessageFor(expression: model => model.Passwd,
                            message: null,
                            htmlAttributes: new { @class = "text-danger" })
    </div>
    <input type="submit" value="Connection" />
}
@*</form>*@

@Html.ActionLink("Retour à la page principale", "Index", "Home", htmlAttributes: new {@class = "btn btn-warning" })
